.root{
  li{
  display: inline-block;
    a{
      // color: #fff;
      display: inline-block;
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid chocolate;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;

      &:hover{
        background: #fe5f1e;
        a{
          background: #fff;
        }
    }
  }
 }
 :global {
  .selected{
    a {
      background: #fe5f1e;
      color: #fff;
    }
  }
 }
}